body{
    font-family: "Times New Roman";
    width: 60%;
    margin: auto;
}
.a {
    border-bottom: dashed red 1px;
}
.aaa {
    text-decoration: underline;
    color: red;
}
img{
    float: left;
}
span{
    float: right;
}
h3{
    color: red;
}
