body{
    color: #242424;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
}
div{
    width: 50%;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
}
img{
    float: left;
}
span{
    float: right;
}
#p2{
    text-decoration: underline;
    color: #ff0000;
    border-top: dashed #ff0000 2px;
    font-size: 26px;
}

