*{

}
body{
    background-color: mistyrose;
    color: #242424;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}
div{
    width: calc(23% - 4px);
    height: auto;
   /* border: 1px solid red;*/
    margin: 20px;
    float: left;
    box-sizing: border-box;/*không dùng có 350*/
    overflow: hidden;/* xử lí tràn*/
    box-shadow: 0px 0px 5px #000008; /* đổ bóng*/
    border-radius: 6px; /* cắt góc*/
    background-color: ivory;
    text-align: center;
}
.bt{
    padding: 20px;
}
img{
    max-width: 100%;
}
#nt{
    width: calc(80% - 42px);
    height: auto;
    float: none;
    margin: auto;
    margin-bottom: 20px;
}
#a{
    position: relative;

    width: 50%;
    padding: 20px;
    float: none;
    margin: auto;
}
#re{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: auto;
    float: none;
    margin: auto;
    margin-bottom: 10px;
}
#re img{
    border-radius: 100%;
}
#a img{
    max-width: 100%;
    padding: -20px;
}
.sida{
    transition: all 1000ms;
}
.sida:hover{
    transform: rotate(360deg);
    background-color: darkorange;
}
