p{
    font-weight: 100;
    font-size: 28px;
    line-height: 1.3;
    text-align: left;
}
h2{
    font-size: 34px;
    line-height: 1.2;
}
h5{
    text-align: justify;
}
li{
    font-weight: 100;
    font-size: 28px;
    line-height: 1.3;
}