*{

}
Body{
background-color: #e5e5e5;
font-size: 25px;
}
#sida{
    border-radius: 5px;
    width: 50%;
    height: auto;
    float:none;
    margin: 150px auto;
    background-color: white;
    box-sizing: border-box;
    padding: 50px 5%;
}
h2{
    padding-left: 2%;
}
.sit{
    background-color: #e0e0e0;
    float: none;
    width: 95%;
    font-size: 25px;
    margin: 2%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.si{
    background-color: #e0e0e0;
    font-size: 25px;
    width: 45.5%;
    margin: 2%;
    border-top-left-radius: 10px;

    border-top-right-radius: 10px;
}
.sit:focus{
    background-color: white;
    outline: none;
    box-shadow: 0 0 5px darkred;
}
.si:focus{
    background-color: white;
    outline: none;
    box-shadow: 0 0 5px darkred;
}
.cham{
    float: left;
    width: 45%;
    margin: 2%;
}
.bi{
    padding-top: 60%;
    width: 100%;
}
.is{
    font-size: 25px;
}
#c1{
    float: left;
}
#c2{
    float: right;
}
#c3{
    float: none;
    margin-left: 31%;
}
